name: Compile and release

on:
  push:

env:
  PLUGIN_NAME: chaos
  SCRIPTS_PATH: addons/sourcemod/scripting
  SM_VERSION: '1.12.x'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Cache include files
        id: cache-includes
        uses: actions/cache@v4
        with:
          path: ${{ env.SCRIPTS_PATH }}/include
          key: includes-${{ hashFiles('.github/workflows/main.yml') }}

      - name: Download include files
        if: steps.cache-includes.outputs.cache-hit != 'true'
        run: |
          set -e
          includes=(
            "https://raw.githubusercontent.com/DoctorMcKay/sourcemod-plugins/master/scripting/include/morecolors.inc"
            "https://raw.githubusercontent.com/FlaminSarge/tf2attributes/refs/heads/master/scripting/include/tf2attributes.inc"
            "https://raw.githubusercontent.com/asherkin/TF2Items/refs/heads/master/pawn/tf2items.inc"
            "https://raw.githubusercontent.com/nosoop/SM-TFUtils/refs/heads/master/scripting/include/tf2utils.inc"
            "https://raw.githubusercontent.com/nosoop/SM-TFEconData/refs/heads/master/scripting/include/tf_econ_data.inc"
            "https://raw.githubusercontent.com/Bradasparky/sm_vscript_comms/refs/heads/main/addons/sourcemod/scripting/include/sm_vscript_comms.inc"
          )

          mkdir -p "${{ env.SCRIPTS_PATH }}/include"

          for url in "${includes[@]}"; do
            echo "Downloading $url"
            curl --fail -sSL -O --output-dir "${{ env.SCRIPTS_PATH }}/include" "$url"
          done

      - name: Setup SourcePawn compiler
        id: setup_sp
        uses: rumblefrog/setup-sp@master
        with:
          version: ${{ env.SM_VERSION }}
          version-file: ${{ env.SCRIPTS_PATH }}/${{ env.PLUGIN_NAME }}.sp
          define-name: PLUGIN_VERSION

      - name: Compile plugin
        run: |
          mkdir -p ../plugins
          spcomp -v2 -E -i "include" -o "../plugins/${{ env.PLUGIN_NAME }}.smx" "${{ env.PLUGIN_NAME }}.sp"
        working-directory: ${{ env.SCRIPTS_PATH }}

      - name: Zip output
        run: zip -qq -r ${{ github.event.repository.name }}.zip addons/sourcemod scripts

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.PLUGIN_NAME }}-${{ steps.setup_sp.outputs.plugin-version }}
          path: ${{ github.event.repository.name }}.zip

      - name: Create GitHub release
        if: github.ref_name == 'master'
        uses: ncipollo/release-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ steps.setup_sp.outputs.plugin-version }}
          artifacts: ./${{ github.event.repository.name }}.zip
          draft: true
          allowUpdates: true
          updateOnlyUnreleased: true
          skipIfReleaseExists: true
